main{
  background: #F5F5F5;
  width: 50vw;
  height: 75vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  padding: 10px;
}

.dies{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

@media only screen and (max-width: 850px) {
  .dies{
    grid-template: auto auto / repeat(4, 1fr);
  }
  main{
    width: 80vw;
    min-width: 350px;
  }
}

.die{
  width: 50px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px #00000026;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Karla;
  font-size: 20.59px;
  font-weight: 700;
  line-height: 24.07px;
  text-align: center;
}

.newRoll{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
  border: none;
  outline: none;
  background: #5035FF;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  font-family: Karla;
}

.newRoll:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, .7);
}