:root{
    --button-bgcolor: #4D5B9E;
    --button-text: #F5F7FB;
    --text-blue: #293264;
    --selected-answer: #D6DBF5;
    --answer-border: #4D5B9E;
}

.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: var(--text-blue);
}

.main h1{
    font-size: 3rem;
}

.main p{
    font-size: 1.5rem;
    font-family: Inter;
}

button {
    border: none;
    outline: none;
    background: var(--button-bgcolor);
    color: var(--button-text);
    width: 200px;;
    height: 50px;
    border-radius: 15px;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin: 5px auto;
}

.questions{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.question{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    max-width: 80vw;
}

.answers{
    list-style: none;
    margin: 0 0 0 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.answers li{
    float: left;
    margin: 0 0 0 0;
    width: 20%;
    position: relative;
    
}

.answers label, .answers input{
    /* display: block; */
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
}

.answers input[type='radio']{
    display: none;
}

.answers input[type='radio']:checked + label{
    background: var(--selected-answer);
    border: none;
}



.answers label{
    padding: 5px;
    border: 1px solid var(--answer-border);
    border-radius: 15px;
    cursor: pointer;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers label:hover{
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .questions{
        margin: 50px auto;
    }
    .answers{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .answers li{
        width: inherit;
        margin: 10px;
    }
}