.hostVanDetail--main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hostVans-page{
    padding: 30px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hostVans-page--vans{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.hostVans-page--van{
    width: 90vw;
    display: flex;
    background: #ffffff;
    border-radius: 6px;
    gap: 10px;
    align-items: center;
    padding: 15px;
}

.hostVans-page--van img{
    width: 15%;
}

.hostVans-page--van--detail{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.hostVanDetail--main{
    padding: 30px;
}

.hostVanDetail--component{
    width: 90vw;
    background: #ffffff;
    padding: 25px;
}

.component--info{
    display: flex;
    align-items: center;
    gap: 30px;
}

.van-image{
    width: 40%;
}

.van-image img{
    width: 100%;
    border-radius: 5px;
}


.van-detail--bagde{
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    font-style:normal;
    width: 80px;
    text-align: center;
}

.van-detail--bagde.simple{
    background: #E17654;
}
.van-detail--bagde.rugged{
    background: #115E59;
}
.van-detail--bagde.luxury{
    background: #161616;
}

.van-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.van-info .van-price{
    font-size: 1.2rem;
}